<h1>Tim Winfred</h1>
<% if(messages.error) { %>
    <p>Error(s):</p>
    <ul>
    <% for (var x in messages.error) { %>
        <li><%= messages.error[x] %></li>
    <% } %>
    </ul>
<% } %>
<h2>Create An Account</h2>
<form action="/api/users" method="post">
    <input type="text" name="fname" placeholder="First Name">
    <input type="text" name="lname" placeholder="Last Name">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Submit">
</form>
<h2>Login</h2>
<form action="/login" method="post">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Submit">
</form>

<% if(user_id) { %>
    <a href="/logout">Logout</a>
<% } %>

<h2>Update Users</h2>
<table>
<% for(x in users) { %>
    <form action="/api/users/<%= users[x].id %>" method="post">
        <input type="hidden" name="_method" value="put">
        <tr>
            <td>
                <input type="text" name="fname" value="<%= users[x].fname %>">
            </td>
            <td>
                <input type="text" name="lname" value="<%= users[x].lname %>">
            </td>
            <td>
                <input type="text" name="email" value="<%= users[x].email %>">
            </td>
            <td>
                <input type="password" name="password" placeholder="New Password">
            </td>
            <td>
                <select name="user_level">
                    <% for(var i=0; i < 10; i++){ %>
                        <% if(i !== users[x].user_level) { %>
                            <option value="<%= i %>"><%= i %></option>
                        <% }else{ %>
                            <option value="<%= i %>" selected="selected"><%= i %></option>
                        <% } %>
                    <% } %>
                </select>
            </td>
            <td>
                <input type="submit" value="Update">
            </td>
            <td>
                <button class="deleteBtn" id="<%= users[x].id %>" onclick="deleteThis('user','<%= users[x].id %>')">Delete</button>
            </td>
        </tr>
    </form>
<% } %>
</table>

<h2>Create Text Content</h2>
<form action="/api/contents" method="post">
    <input type="text" name="name" id="name" placeholder="Content Name">
    <textarea name="content" id="content" placeholder="Content Text"></textarea>
    <input type="submit" value="Submit">
</form>

<h2>Contents</h2>
<table>
<% for(x in contents) { %>
    <tr>
        <td><%= contents[x].name %></td>
        <td><%= contents[x].content %></td>
        <td>
            <button class="deleteBtn" id="<%= contents[x].id %>" onclick="deleteThis('content','<%= contents[x].id %>')">Delete</button>
        </td>
    </tr>
<% } %>
</table>

<h2>Create A Blog Post</h2>
<form action="/api/blogs" method="post">
    <input type="text" name="blogTitle" id="blogTitle" placeholder="Blog Title">
    <textarea name="blogBody" id="blogBody" placeholder="Blog Body HTML"></textarea>
    <input type="text" name="blogDescription" id="blogDescription" placeholder="Blog Description">
    <input type="text" name="blogKeywords" id="blogKeywords" placeholder="Blog Keywords">
    <input type="text" name="blogFeaturedImage" id="blogFeaturedImage" placeholder="Featured Image">
    <input type="text" name="blogOgTitle" id="blogOgTitle" placeholder="Blog og:title">
    <input type="text" name="blogOgDescription" id="blogOgDescription" placeholder="Blog og:description">
    <input type="text" name="blogOgImage" id="blogOgImage" placeholder="Blog og:image">
    <input type="submit" value="Submit">
</form>

<h2>Blogs</h2>
<table>
<% for(x in blogs) { %>
    <tr>
        <td><%= blogs[x].title %></td>
        <td><%= blogs[x].body %></td>
        <td><%= blogs[x].metaDescription %></td>
        <td><%= blogs[x].metaKeywords %></td>
        <td style="width: 200px"><%= blogs[x].featuredImage %></td>
        <td style="display: none"><%= blogs[x].ogTitle %></td>
        <td style="display: none"><%= blogs[x].ogDescription %></td>
        <td style="display: none"><%= blogs[x].ogImage %></td>
        <td>
            <button class="deleteBtn" id="<%= blogs[x].id %>" onclick="deleteThis('blog','<%= blogs[x].id %>')">Delete</button>
        </td>
    </tr>
<% } %>
</table>
<script  type="text/javascript" src="/static/script/main.js"></script>